<!DOCTYPE html>
<html>
  <head>
    <title>ReadingAp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="header__title">
        <%= link_to "Reding action plan", root_path, class: "header__title--text" %>  <!--root Prefixで変数化 アクセスする-->
      </div>
      <div class="header__right">
        <%= link_to "新規投稿", new_post_path, class: "header__right--btn" %>  <!--new_post Prefixで変数化 アクセスする-->
      </div>
    </header>

    <div class="contents">
    <%= yield %>  <!--ここに全てのビューファイルが集約される-->
    </div>
  </body>
</html>
